/* =============================================================================
    STYLE > STYLE TABLET
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/miguel\.garcia\/Desktop\/MyKarmaProjects\/bohemestudio\/Fluid_Design_Prototypes\/css\/scss\/style_tablet\.scss}line{font-family:\000035}}
.header .main-nav ul li a {
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/miguel\.garcia\/Desktop\/MyKarmaProjects\/bohemestudio\/Fluid_Design_Prototypes\/css\/scss\/style_tablet\.scss}line{font-family:\000039}}
.tab-nav a {
  font-size: 2em;
}

/*DEMO 3*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/miguel\.garcia\/Desktop\/MyKarmaProjects\/bohemestudio\/Fluid_Design_Prototypes\/css\/scss\/style_tablet\.scss}line{font-family:\0000318}}
#tab1 .button,
#tab2 .button,
#tab3 .button,
#tab4 .button,
#tab5 .button {
  font-size: 1.2em;
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/miguel\.garcia\/Desktop\/MyKarmaProjects\/bohemestudio\/Fluid_Design_Prototypes\/css\/scss\/style_tablet\.scss}line{font-family:\0000323}}
.content-tabs h2 {
  font-size: 1.9em;
}
