/* =============================================================================
    STYLE > STYLE TABLET
   ========================================================================== */

.header .main-nav ul li a{
    font-size: 1.2em;
}

.tab-nav a{
    font-size: 2em;
}

/*DEMO 3*/
#tab1 .button,
#tab2 .button,
#tab3 .button,
#tab4 .button,
#tab5 .button{
    font-size:1.2em;
    padding:20px;
}

.content-tabs h2{
    font-size: 1.9em;
}