/* =============================================================================
    STYLE
   ========================================================================== */

  /* FONTS ================================================================== */

  @import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic);


  /* END FONTS ============================================================== */

    a,
    a:focus,
    a:visited{
      outline: none;
    }

   ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
   }


    body{
        font-size: 100%;
        font-family: Georgia;
        color: #ffffff;
    }

    .row{
        width: 100%;
    }

    .one-column .column{
      width: 50%;
    }

    .two-column .column{
        width: 48%;
        margin: 1%;
        background: white;
        float: left;
    }

    p{
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif, Verdana;
        text-shadow: 0px 0px 8px #000000;
    }

    h1, h2, h3, h4{
      font-family: 'Josefin Sans', sans-serif, Verdana;
      font-weight: normal;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 5px 5px 10px #000000;
    }


    /* GENERAL STYLES ======================================================= */
    body{
      background: #000000;
    }

    .main-frame-left,
    .main-frame-right{
      display: block;
      height: 100%;
      position: fixed;
      top: 0;
      width: 105px;
      display: none;
    }

    .main-frame-left{
      left: 0;
      background: transparent url('../img/frame/main_frame_LEFT_pattern.png') repeat-y top left;
    }

    .main-frame-right{
      right: 0;
      background: transparent url('../img/frame/main_frame_RIGHT_pattern.png') repeat-y top right;
    }
    /* END GENERAL STYLES =================================================== */




    /* HEADER STYLES ======================================================== */
    .header{
      position: fixed;
      top: 0;
      width: 100%;
      height: 50px;

      z-index: 100;



      .nav-collapse,
      .social-icons{
        position: absolute;
      }

      .nav-collapse{
        top: 19px;
        left: 2%;

        h2{
          background: #000000;
          color: #F7F6CD;
          cursor: pointer;
          float: left;
          font-size: 16px;
          height: auto;
          line-height: 1em;
          margin: 0;
          padding: 2px 10px 0;
          text-align: center;
          width: 101px;
        }
      }

      .social-icons{
        background: none repeat scroll 0 0 #000000;
        margin: 0;
        right: -150px;
        top: 150px;
        border: 1px solid #ffffff;
        border-top: 10px solid #ffffff;
        border-right: 0px;
        box-shadow: 5px 5px 5px #000000;
        width: 120px;
        padding: 20px;
        background: #d9561c;

        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;

        &:hover{
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          -webkit-transform: translateX(-150px);
          -ms-transform: translateX(-150px);
          transform: translateX(-150px);
        }

        h2{
          display: none;
        }

        a{
          padding: 0;
          float: left;
          height: 25px;
          margin-left: 10px;
          text-indent: -99999px;
          width: 25px;

        }

        .bohemestudio-icon{
          width: 120px;
          height: 37px;
          margin: 0 0 10px;
          padding: 0;
          text-indent: 0;

          span{
            display: none;
          }
        }

        .facebook-icon{
          background: transparent url("../img/header/icons_sprite.png") no-repeat scroll 0 0;
        }

        .instagram-icon{
          background: transparent url("../img/header/icons_sprite.png") no-repeat scroll  0 -35px;
        }

        .twitter-icon{
          background: transparent url("../img/header/icons_sprite.png") no-repeat scroll  0 -70px;
        }

      }

      .campaign-slogan{
        text-align: center;

        img{
          background: #000000;
          padding: 12px 20px 0 20px;
        }
      }

      .main-nav{
        ul{

          margin-top: 0px;
          width: 100%;
          float: left;
          height: 100%;
        }

        ul li{
          float: left;
          width: 20%;

          a{
            padding: 15px 0 5px 0;
            font-family: 'Josefin Sans', sans-serif, Verdana;
            font-size: 18px;
            text-transform: uppercase;
            color: #ffffff;
            display: block;
            text-align: center;
            text-decoration: none;
            background: rgba(0, 0, 0, 0.5);
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;

            &:hover{
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
              color: #d9561c;
              background: #000000;
            }
          }
        }
      }
    }
    /* END HEADER STYLES ==================================================== */




    /* PRODUCT PAGES STYLES ================================================= */
    .tabs-menu{
      width: 100%;

      ul{

        width: 100%;

        li{
          width: 33%;
          float: left;
        }
      }


      .tab-nav{
        width: 90%;
        display: block;
        background: #000000;
        color: #ffffff;
        text-align: center;
        padding: 20px 0;

        z-index: 100;
        margin: 20%;
      }
    }

    .stick{
      position: fixed;
      top: 0;
      left: 0;

      .tab-nav{
        background: #ffffff;
        color: #000000;
      }
    }

    .content-tabs{

      h2{
        font-size: 50px;
        text-shadow: 0px 0px 8px #000000;
      }

      p{
        text-shadow: 3px 3px 5px #000000;
      }

      .tab{
        display: block;
        position: relative;
        width: 100%;
        text-align: center;

        .row{
          z-index: 10;
        }

        .tab-nav{
          z-index: 100;
          position: fixed;
          top: 150px;
          left: 0px;
          text-align: left;

          a{
            font-family: 'Josefin Sans', sans-serif, Verdana;
            font-size: 1.3em;
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            text-shadow: 2px 2px 2px #000000;
            background: #ffffff;
            padding: 10px 20px;
            margin-bottom: 5px;
            display: block;
            width: auto;
            position: relative;
            left: 50px;

            border: 1px solid rgba(0, 0, 0, 0.2);

            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:active{

              border: 1px solid rgba(0, 0, 0, 0);

              -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
              -webkit-transform: scale(1.1) translate(10px,-10px);
              -ms-transform: scale(1.1) ttranslate(10px, -10px);
              transform: scale(1.1) translate(10px, -10px);

              -webkit-box-shadow:  2px 2px 10px 5px rgba(0, 0, 0, 0.2);
              box-shadow:  2px 2px 10px 5px rgba(0, 0, 0, 0.2);
            }

            &.tab1{
              background: #d9561c;

              background: -moz-linear-gradient(top,  #d9561c 0%, #ad3c16 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9561c), color-stop(100%,#ad3c16)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #d9561c 0%,#ad3c16 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #d9561c 0%,#ad3c16 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #d9561c 0%,#ad3c16 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #d9561c 0%,#ad3c16 100%); /* W3C */


            }

            &.tab2{
              background: #3b5998;

              background: -moz-linear-gradient(top,  #3b5998 0%, #2c4972 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b5998), color-stop(100%,#2c4972)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #3b5998 0%,#2c4972 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #3b5998 0%,#2c4972 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #3b5998 0%,#2c4972 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #3b5998 0%,#2c4972 100%); /* W3C */

            }

            &.tab3{
              background: #00ACED;

              background: -moz-linear-gradient(top,  #00aced 0%, #009dc9 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aced), color-stop(100%,#009dc9)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #00aced 0%,#009dc9 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #00aced 0%,#009dc9 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #00aced 0%,#009dc9 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #00aced 0%,#009dc9 100%); /* W3C */

            }

            &.tab4{
              background: #A37758;

              background: -moz-linear-gradient(top,  #a37758 0%, #7f5944 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a37758), color-stop(100%,#7f5944)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #a37758 0%,#7f5944 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #a37758 0%,#7f5944 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #a37758 0%,#7f5944 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #a37758 0%,#7f5944 100%); /* W3C */

            }

            &.tab5{
              background: #f3f3f3;

              background: -moz-linear-gradient(top,  #f3f3f3 0%, #d8d8d8 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #f3f3f3 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #f3f3f3 0%,#d8d8d8 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #f3f3f3 0%,#d8d8d8 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #f3f3f3 0%,#d8d8d8 100%); /* W3C */

            }
          }
        }

        .youtube-background{
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;

          z-index: -99;
          z-index: 1;
        }
      }
    }

    .tab-arrow-nav{
      position: fixed;
      right: 0;
      bottom: 0;
      width: 5%;
      z-index: 10;

      ul{
        width: 100%;
        float: left;

        li{
          float: left;
          width: 100%;
          display: block;
        }
      }

      a{
        width: 100%;
        border: 1px solid #ffffff;
        background: #046695;
        font-family: 'Josefin Sans', sans-serif, Verdana;
        color: #ffffff ;
        text-decoration: none;
        text-align: center;
        padding: 10px 1%;

        &:hover{
          background: #ffffff;
          color: #046695;
        }
      }


      .prev{
        display: none;
        float: left;
      }

      .next{
        float: left;
      }
    }

    /* Backgrounds */
    #tab1{
      background: #d9561c;

      background: -moz-linear-gradient(top,  #d9561c 0%, #ad3c16 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9561c), color-stop(100%,#ad3c16)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #d9561c 0%,#ad3c16 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #d9561c 0%,#ad3c16 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #d9561c 0%,#ad3c16 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #d9561c 0%,#ad3c16 100%); /* W3C */

      background-size: 100%;


      .button {

          -moz-box-shadow: 0px 10px 14px -7px #000000;
          -webkit-box-shadow: 0px 10px 14px -7px #000000;
          box-shadow: 0px 10px 14px -7px #000000;

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e89a79), color-stop(1, #d9551c));
          background:-moz-linear-gradient(top, #e89a79 5%, #d9551c 100%);
          background:-webkit-linear-gradient(top, #e89a79 5%, #d9551c 100%);
          background:-o-linear-gradient(top, #e89a79 5%, #d9551c 100%);
          background:-ms-linear-gradient(top, #e89a79 5%, #d9551c 100%);
          background:linear-gradient(to bottom, #e89a79 5%, #d9551c 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e89a79', endColorstr='#d9551c',GradientType=0);

          background-color:#e89a79;

          -moz-border-radius:4px;
          -webkit-border-radius:4px;
          border-radius:4px;

          border:1px solid #752f11;

          display:inline-block;
          color:#ffffff;
          font-family:arial;
          font-size:1.2em;
          font-weight:bold;
          padding:20px;
          text-decoration:none;

          text-shadow:0px 1px 0px #54230e;

      }
      .button:hover {

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9551c), color-stop(1, #e89a79));
          background:-moz-linear-gradient(top, #d9551c 5%, #e89a79 100%);
          background:-webkit-linear-gradient(top, #d9551c 5%, #e89a79 100%);
          background:-o-linear-gradient(top, #d9551c 5%, #e89a79 100%);
          background:-ms-linear-gradient(top, #d9551c 5%, #e89a79 100%);
          background:linear-gradient(to bottom, #d9551c 5%, #e89a79 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9551c', endColorstr='#e89a79',GradientType=0);

          background-color:#d9551c;
      }
      .button:active {
          position:relative;
          top:1px;
      }


    }

    #tab2{
      background: #3b5998;

      background: -moz-linear-gradient(top,  #3b5998 0%, #2c4972 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b5998), color-stop(100%,#2c4972)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #3b5998 0%,#2c4972 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #3b5998 0%,#2c4972 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #3b5998 0%,#2c4972 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #3b5998 0%,#2c4972 100%); /* W3C */

      background-size: 100%;


      .button {


          -moz-box-shadow: 0px 10px 14px -7px #284470;
          -webkit-box-shadow: 0px 10px 14px -7px #284470;
          box-shadow: 0px 10px 14px -7px #284470;

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #516ca3));
          background:-moz-linear-gradient(top, #415989 5%, #516ca3 100%);
          background:-webkit-linear-gradient(top, #415989 5%, #516ca3 100%);
          background:-o-linear-gradient(top, #415989 5%, #516ca3 100%);
          background:-ms-linear-gradient(top, #415989 5%, #516ca3 100%);
          background:linear-gradient(to bottom, #415989 5%, #516ca3 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#516ca3',GradientType=0);

          background-color:#415989;

          -moz-border-radius:4px;
          -webkit-border-radius:4px;
          border-radius:4px;

          border:1px solid #1f2f47;

          display:inline-block;
          color:#ffffff;
          font-family:arial;
          font-size:1.2em;
          font-weight:bold;
          padding: 20px;
          text-decoration:none;

          text-shadow:0px 1px 0px #263666;

      }
      .button:hover {

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #516ca3), color-stop(1, #415989));
          background:-moz-linear-gradient(top, #516ca3 5%, #415989 100%);
          background:-webkit-linear-gradient(top, #516ca3 5%, #415989 100%);
          background:-o-linear-gradient(top, #516ca3 5%, #415989 100%);
          background:-ms-linear-gradient(top, #516ca3 5%, #415989 100%);
          background:linear-gradient(to bottom, #516ca3 5%, #415989 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#516ca3', endColorstr='#415989',GradientType=0);

          background-color:#516ca3;
      }
      .button:active {
          position:relative;
          top:1px;
      }
    }

    #tab3{
      background: #00ACED;

      background: -moz-linear-gradient(top,  #00aced 0%, #009dc9 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aced), color-stop(100%,#009dc9)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #00aced 0%,#009dc9 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #00aced 0%,#009dc9 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #00aced 0%,#009dc9 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #00aced 0%,#009dc9 100%); /* W3C */

      background-size: 100%;

      .button {

          -moz-box-shadow: 0px 10px 14px -7px #f0f7fa;
          -webkit-box-shadow: 0px 10px 14px -7px #f0f7fa;
          box-shadow: 0px 10px 14px -7px #000000;

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
          background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
          background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
          background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
          background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
          background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);

          background-color:#33bdef;

          -moz-border-radius:4px;
          -webkit-border-radius:4px;
          border-radius:4px;

          border:1px solid #057fd0;

          display:inline-block;
          color:#ffffff;
          font-family:arial;
          font-size:1.2em;
          font-weight:bold;
          padding: 20px;
          text-decoration:none;

          text-shadow:0px 1px 0px #5b6178;

      }
      .button:hover {

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
          background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
          background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
          background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
          background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
          background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);

          background-color:#019ad2;
      }
      .button:active {
          position:relative;
          top:1px;
      }
    }
    #tab4{
      background: #A37758;

      background: -moz-linear-gradient(top,  #a37758 0%, #7f5944 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a37758), color-stop(100%,#7f5944)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #a37758 0%,#7f5944 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #a37758 0%,#7f5944 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #a37758 0%,#7f5944 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #a37758 0%,#7f5944 100%); /* W3C */

      background-size: 100%;




      .button {

          -moz-box-shadow: 0px 10px 14px -7px #000000;
          -webkit-box-shadow: 0px 10px 14px -7px #000000;
          box-shadow: 0px 10px 14px -7px #000000;

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
          background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
          background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
          background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
          background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
          background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);

          background-color:#7d5d3b;

          -moz-border-radius:4px;
          -webkit-border-radius:4px;
          border-radius:4px;

          border:1px solid #54381e;

          display:inline-block;
          color:#ffffff;
          font-family:arial;
          font-size:1.2em;
          font-weight:bold;
          padding:20px;
          text-decoration:none;

          text-shadow:0px 1px 0px #4d3534;

      }
      .button:hover {

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
          background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
          background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
          background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
          background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
          background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);

          background-color:#634b30;
      }
      .button:active {
          position:relative;
          top:1px;
      }

    }

    #tab5{
      background: #f3f3f3;

      background: -moz-linear-gradient(top,  #f3f3f3 0%, #d8d8d8 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #f3f3f3 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #f3f3f3 0%,#d8d8d8 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #f3f3f3 0%,#d8d8d8 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #f3f3f3 0%,#d8d8d8 100%); /* W3C */

      background-size: 100%;



      .button {

          -moz-box-shadow: 0px 10px 14px -7px #000000;
          -webkit-box-shadow: 0px 10px 14px -7px #000000;
          box-shadow: 0px 10px 14px -7px #000000;

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
          background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
          background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
          background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
          background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
          background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);

          background-color:#ffffff;

          -moz-border-radius:4px;
          -webkit-border-radius:4px;
          border-radius:4px;

          border:1px solid #dcdcdc;

          display:inline-block;
          color:#666666;
          font-family:arial;
          font-size:1.2em;
          font-weight:bold;
          padding:20px;
          text-decoration:none;

          text-shadow:0px 1px 0px #ffffff;

      }
      .button:hover {

          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
          background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);

          background-color:#f6f6f6;
      }
      .button:active {
          position:relative;
          top:1px;
      }

    }

    /* END PRODUCT PAGES STYLES ============================================= */


/* ----------------------------------- ENHANCED VIEW - TABLET ----------------------------------- */
@media all and (min-width: 767px){

  @import "style_tablet.scss";

}


/* ----------------------------------- ENHANCED VIEW - DESKTOP ----------------------------------- */
@media all and (min-width: 940px){

  @import "style_desktop.scss";

}


/* FONTS OLDER IE */
.lt-ie9{
  h1, h2, h3, h4,
  .header .main-nav ul li a{
     font-family: 'Oswald', sans-serif;
  }
}

