@font-face {
    font-family: 'TradeGothicBoldCondensedNo.20';
    src: url('tradegothic-boldcondtwenty.eot');
    src: url('tradegothic-boldcondtwenty.eot') format('embedded-opentype'),
         url('tradegothic-boldcondtwenty.woff') format('woff'),
         url('tradegothic-boldcondtwenty.ttf') format('truetype'),
         url('tradegothic-boldcondtwenty.svg#TradeGothicBoldCondensedNo.20') format('svg');
}
